[submodule "BEVFormer"]
	path = BEVFormer
	url = git@github.com:towardsautonomy/BEVFormer.git
[submodule "dd3d"]
	path = dd3d
	url = git@github.com:towardsautonomy/dd3d.git
[submodule "CenterPoint"]
	path = CenterPoint
	url = git@github.com:alchemz/CenterPoint.git
